/* Source Sans 3 for text, Source Code Pro for code */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
:root {
  --bs-font-sans-serif: "Source Sans 3", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-monospace: "Source Code Pro", monospace; 
  --bs-code-color: #000;
}
pre, code, kbd, samp {
  font-family: var(--bs-font-monospace);
}

/* integrate inline code better with the surroundings */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
code:not(.sourceCode),
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  background-color: transparent;
  padding: 0px;
  font-size: 0.93541em;
}

/* wrap long lines of code */
pre>code {
  white-space: pre-wrap;
}

/* links only marked by color, not underline */
a {
  text-decoration: none;
}

/* indent definitions */
dd {
  margin-left: 2em;
}

/* no horizontal lines and less padding within tables*/
.table>:not(caption)>*>* {
  border-bottom: none;
  padding: 0.1rem 0.5rem;
}
.table>:not(caption)>*:not(:last-child)>* {
  border-bottom: none;
}
table, .table {
  margin-bottom: 1rem;
}

/* retain bottom margin even for narrow media */
body.nav-sidebar #title-block-header {
    margin-block-end: 1rem;
}

/* simplified posts in example/index */
div.quarto-post .metadata {
  display: none !important;
}

/* formatting of stdout and stderr */
div.cell-output-stdout pre {
  padding: 0.4em;
  margin: 0px;
}
div.cell-output-stderr pre {
  padding: 0.4em;
  margin: 0px;
  color: var(--bs-danger);
}
div.cell-output-stdout,
div.cell-output-stderr {
  border: 1px solid var(--bs-border-color);
}
div.cell-output-stdout + div.cell-output-stderr {
  border-top: none;
}
div.cell {
  margin-bottom: 1rem;
}
