/* Source Code Pro for code, matching the default Source Sans for text */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
:root {
  --bs-font-monospace: "Source Code Pro", Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace
}

/* integrate inline code better with the surroundings */
code {
  font-size: 0.9377em;
}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: transparent;
  padding: 0px;
}
code:not(.sourceCode),
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  color: inherit;
  padding: 0.1em;
}

/* links only marked by color, not underline */
a {
  text-decoration: none;
}

/* indent definitions */
dd {
  margin-left: 2em;
}

/* no horizontal lines and less padding within tables*/
.table>:not(caption)>*>* {
  border-bottom: none;
  padding: 0.1rem 0.5rem;
}
.table>:not(caption)>*:not(:last-child)>* {
  border-bottom: none;
}
table, .table {
  margin-bottom: 1rem;
}

/* retain bottom margin even for narrow media */
body.nav-sidebar #title-block-header {
    margin-block-end: 1rem;
}

/* error message from Matlab */
.cell-output-stderr {
  color: #e11b14;
}